/* Gobal */

:root {
  --main-blue-color: #00b1ff;
  --soft-light-grey: #e9ecef;
}

a, a:hover {
  text-decoration: none;
  color: auto;
}

.BrainhubCarousel__arrows {
  background-color: var(--main-blue-color) !important;
  border-radius: 50%;
}

/* End of Globals */

/* Basic Utilities */

.text-main-blue {
  color: var(--main-blue-color) !important;
}

.bg-main-blue {
  background-color: var(--main-blue-color) !important;
}

.bg-soft-grey {
  background-color: var(--soft-light-grey) !important;
}

.border-radius-30 {
  border-radius: 30px !important;
}

/* End of Basic Utilities */

/* Navigation */

.social .btn {
  width: 39px;
  height: 39px;
}

.nav-item a {
  color: gray;
  font-size: large;
  font-weight: bold;
}

.nav-item a:hover {
  color: var(--main-blue-color);
  position: relative;
  top: -3px;
  transition: 0.5s;
}

/* End of Navigation */

/* Home Page */

.banner .content {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 125px;
}

.banner .content .title {
  min-width: 175px;
}

@media (min-width: 768px){
  .banner .right-margin {
    border-right: 3px solid var(--soft-light-grey);
  }
}

/* Contact */
.ruler{
  border-top: 4px solid #d1d7de;
  width:30%;
}
/* Blogs */
/* End of Home Page */

/* Resources */
.hover-fill-lightgrey:hover {
  background: var(--soft-light-grey);
  opacity: 0.8;
  transition: 1s;
}

.quiz-name:hover {
  transform: scale(1.1);
  transform-origin: 10%;
  transition: 1s;
}
/* End of Resources */
