/* Gobal */

:root {
  --main-blue-color: #00b1ff;
}

a, a:hover {
  text-decoration: none;
  color: auto;
}

/* End of Globals */

/* Basic Utilities */

.text-main-blue {
  color: var(--main-blue-color) !important;
}

/* End of Basic Utilities */

/* Navigation */

.social .btn {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.nav-item a {
  color: gray;
  font-size: large;
  font-weight: bold;
}

.nav-item a:hover {
  color: var(--main-blue-color);
}

/* End of Navigation */

/* Home Page */

.banner .content {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 150px;
}

/* End of Home Page */